<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <!-- Container wrapper -->
    <div class="container-fluid">
        <!-- Collapsible wrapper -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- Left links -->
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <!-- <li class="nav-item">
                    <a class="nav-link" routerLink="/app">Home</a>
                </li> -->
                <li class="nav-item">
                    <a class="nav-link" routerLink="/monthlyshift">Monthly Shift</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/employee">Update Shift</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="#">About</a>
                </li>
            </ul>
        </div>
        
    </div>
    
</nav>
<div class="cover-image">
    <router-outlet></router-outlet>
</div>
<!-- Footer -->
<footer class="bg-dark text-center text-white fixed-bottom">
    
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2024 Copyright:
        <a class="text-white" href="https://Portal.Accenture.com/">Accenture Portal</a>
    </div>
    <!-- Copyright -->
</footer>